<!DOCTYPE html>
<a routerLink="calculadoras"></a>
<html lang="esp">
  <head>
    <title>Calculadoras Para Tus Finanzas Personales Gratis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Calculadoras De Finanzas Personales Gratis </h1>
      <P>Calculadoras para ayudarte a entender tus finanzas personales.</P>
    </header>
    <main>
    </main>
  </body>
  <footer>
    <div class="social-bar">
      <a href="https://www.youtube.com"> <img src="assets/svg/youtube-icon.svg"><i class="fab fa-youtube"></i></a>
      <a href="https://www.facebook.com"> <img src="assets/svg/facebook-icon.svg"><i class="fab fa-facebook"></i></a>
      <a href="https://www.tiktok.com"> <img src="assets/svg/tiktok-icon.svg"><i class="fab fa-tiktok"></i></a>
    </div>
    <p id="footerText"> Todos Los Derechos Reservados <br>© Adelante Holdings LLC</p>
  </footer>
</html>
