<html lang="esp">
<mat-sidenav-container class="sidenav-container">
    <!--Sets breakpoints for menu bars-->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode] = "(isHandset$ | async) ? 'over' : 'side'"
            [opened] = "false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list class="menuItems">
            <a mat-list-item routerLink="/" (click)="drawer.close()">Inicio</a>
            <a mat-list-item routerLink="/calculadoras" (click)="drawer.close()">Calculadoras</a>
        </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content class="shadow-toolbar">
        <mat-toolbar>
            <button 
              type="button" 
              aria-label="Toggle sidenav" 
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">


              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="logo" routerLink="/"> <img src="assets\svg\JAHorizontal.svg" alt="Logo"></span>
            <span class="fill-space"></span>
            <div *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/calculadoras" class="menuItems"> Calculadoras</a>



            </div>



        </mat-toolbar>


        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
</html>