<mat-card>
    <div *ngIf = "isSignup">
        <h3>Crea Una Cuenta</h3>
        <button mat-stroked-button (click)="changeType('login')">
            ¿Ya es usuario? 
        </button>
    </div>

    <div *ngIf="isLogin">
        <h3>Iniciar Sesión</h3>
        <button size="small" mat-stroked-button (click)="changeType('signup')">
            Nuevo Usuario?
        </button>
    </div>

    <div *ngIf="isPasswordReset">
        <h3>Restablecer Contraseña</h3>
        <button size="small" mat-button (click)="changeType('login')">Regresar</button>
    </div>





    <form [formGroup] = "form" (ngSubmit)="onSubmit">
        <mat-form-field>
            <input 
                matInput
                formControlName="email"
                type="email"
                placeholder="Email"
                autocomplete="off"
            />

            <mat-error *ngIf="email?.invalid && email?.dirty">
                Porfavor Ingresar Correo Valido
            </mat-error>
        </mat-form-field>

        <mat-form-field [style.color]="form.controls['password'].valid ? 'accent' : undefined" *ngIf ="!isPasswordReset">
            <input 
                matInput
                formControlName="password"
                type="password"
                placeholder="Password"
                autocomplete="off"
            />
            <mat-error *ngIf="password?.invalid && password?.dirty">
                La contraseña debe tener al menos 6 carácteres
            </mat-error>
        
        </mat-form-field>

        <mat-form-field
            [color]="passwordDoesMatch ? 'accent' : 'warn'"
            *ngIf="isSignup"
        >
            <input
            matInput
            formControlName="passwordConfirm"
            type="password"
            placeholder="Confirm password"
            autocomplete="off"
            />

            <mat-error *ngIf="passwordConfirm?.dirty && !passwordDoesMatch">
                No es la contraseña correcta
            </mat-error>
        </mat-form-field>

        <mat-error class="server-error">{{ serverMessage }}</mat-error>
        
        <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid || !passwordDoesMatch || loading"
        >
            Iniciar Sesión 
        </button>
    </form>

    <button
        *ngIf = "isPasswordReset"
        mat-stroked-button
        [disabled]="loading"
        >
        Mandar Correo Para Restablecer Contraseña
    </button>

  </mat-card>

