<!DOCTYPE html>
<html lang="esp">
  <head>
    <title>Juntos Adelante: Finanzas Personales En Espanol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Herramientas y consejos para ayudar con tus finanzas personales en español</h1>
      <button mat-raised-button class="MainButtons">Calculadoras</button>
    </header>
    <main>
      <section>
        <h2>Información Imparcial</h2>
        <p>Nuestro equipo editorial se asegura de convertir hasta los temas más difíciles de entender en asuntos de cada día.</p>
      </section>
      <section>
        <h2>Información En Video</h2>
        <p>Adaptamos nuestra información para que se ajuste a tus medios de aprendizaje. Lo importante es que comprenda el tema de las finanzas y nosotros lo hacemos fácil y posible.</p>
      </section>
      <section>
        <h2>Herramientas Financieras</h2>
        <p>Nuestra meta es hacer las finanzas personales lo más simple posible.  Por eso ofrecemos educación financiera, calculadoras de gastos, y mucho más para asegurar los ingresos en el futuro y mejorar la economía doméstica.</p>
      </section>
    </main>
    <footer>
      <p> 2023 My Website</p>
    </footer>
  </body>
</html>