<!DOCTYPE html>
<html lang="esp">
  <head>
    <title>Juntos Adelante: Finanzas Personales En Espanol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Herramientas y consejos para ayudar con tus finanzas personales en español</h1>
    </header>
    <main>
      <section>
        <h2>Section Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nulla in mauris faucibus rhoncus. Sed vehicula ante eu mauris consectetur, a vestibulum nulla hendrerit. Praesent congue sapien id mauris gravida efficitur. </p>
      </section>
      <section>
        <h2>Section Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nulla in mauris faucibus rhoncus. Sed vehicula ante eu mauris consectetur, a vestibulum nulla hendrerit. Praesent congue sapien id mauris gravida efficitur. </p>
      </section>
    </main>
    <footer>
      <p> 2023 My Website</p>
    </footer>
  </body>
</html>